
.profile {
  display: flex;
  height: 400px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/asfalt-light.png");
  background-color: rgba(255, 166, 0, 0.863);
  margin-top: 120px;
}