
.nav-style {
  
  display: flex;
  height: 120px;
  background-image: url("../images/asfalt-light.png");
  background-color: rgb(255, 166, 0);
  color: #FFFFFF;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  border-color:  rgb(255, 166, 0);
  padding: 0 1.5em;
}

.nav-style span {

  font-family: 'Bungee';
}

.new-tweet-nav {

  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.fa-angle-double-down {
  
  padding : 0.25em;
  position: relative;
  color: red;
  animation: updown 2s ease infinite;
}
  
@keyframes updown {

  0% {
    transform: translateY(-20%);
  }
  50% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(-20%);
  }
}

@media (min-width: 1024px) {

  .nav-style {
    background-image: none;
    background-color:  #4056a1;
    border: none;
  }
}