article {
  padding: 0.5em;
  background-color: #f4f1ec;
  border: 4px solid black;

}

article header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25em;
}

article header .picture-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article header .picture-name img {
  max-height: 43px;
  max-width: 43px;
}

article header .picture-name a {
  padding: 0.25em;
}

article header a {
  color: #4056a1;
}

article p {
  padding: 0.5em;
}

article footer {
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 4px solid black;
  font-size: smaller;
}

article footer .socials {
  color:  #4056A1;
}

